<nav>
  <a class="home" href="/">Home</a>
  {{#if albums}}
  <a href="/add/album">Add new album</a>
  {{/if}}
  {{#if songs}}
  <a class="nav-btn" href="/add/song">Add new song</a>
  {{/if}}
</nav>

<div class="list-headings">

</div>
<div class="list-container">

</div>